In [1]:
import pandas as pd

In [54]:
df = pd.read_csv('ownership.csv', delimiter = ';', decimal = ',')
cols = ['id. Response ID', 'submitdate. Date submitted','Carmain',
       'Previous PHEVs', 'Previous BEVs', 'Previous HEVs', 'Previous CNGs',
       'Household Income',
       'Importance of reducing greenhouse gas emissions (-3 not important, 3 important)',
       'Home ownership (own 1)', 'Home Type (detached 1)',
       'Highest Level of Education', 'Longest trip in the last 12 months',
       'Number of trips over 200 miles in the last 12 months',
       'One-way commute distance', 'Number of people in the household', 'Age',
       'Gender (Male 1)', 'Number of vehicles in the household',
       'Annual VMT Estimate ']

df= (
    df
    [cols]
)
## column descriptions: Gender: Male=1, Female =0, N/A = -1

In [61]:
cf = (
    df
    .assign(date = pd.to_datetime(df['submitdate. Date submitted'].fillna(method = 'ffill')))
    .assign(gender = df['Gender (Male 1)'].fillna(-1).astype('int16'))
    .assign(car = df['Carmain'].fillna('N/A'))
    .assign(prev_green_vehicle = df['Previous PHEVs'].fillna(0)+ \
                                 df['Previous BEVs'].fillna(0) + \
                                 df['Previous HEVs'].fillna(0) + \
                                 df['Previous CNGs'].fillna(0))
    .drop(columns = ['submitdate. Date submitted','Gender (Male 1)', 'Carmain','Previous PHEVs', \
         'Previous BEVs', 'Previous HEVs', 'Previous CNGs'])

)

,id. Response ID,Household Income,"Importance of reducing greenhouse gas emissions (-3 not important, 3 important)",Home ownership (own 1),Home Type (detached 1),Highest Level of Education,Longest trip in the last 12 months,Number of trips over 200 miles in the last 12 months,One-way commute distance,Number of people in the household,Age,Number of vehicles in the household,Annual VMT Estimate,date,gender,car,prev_green_vehicle
0,FCV_1_3,275000.0,2.52,1.0,1.0,3.0,483.14,0.0,0.01,2.0,65.0,2,14622.000000,2017-06-02 11:30:57,0,2016 Toyota Mirai,1.0
1,FCV_1_4,275000.0,2.76,1.0,1.0,4.0,568.09,1.0,10.69,3.0,65.0,3,9197.142857,2017-06-02 11:15:39,0,2016 Toyota Mirai,1.0
2,FCV_1_2,NaN,NaN,1.0,1.0,4.0,398.57,0.0,9.39,5.0,55.0,4,15360.000000,2017-06-02 10:51:59,1,2016 Toyota Mirai,2.0
3,FCV_1_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,2017-06-02 10:51:59,-1,N/A,0.0
4,FCV_1_15,125000.0,2.60,1.0,1.0,2.0,255.16,0.0,17.63,2.0,55.0,3,5082.352941,2017-06-02 19:35:59,0,2017 Toyota Mirai,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27016,PHASE_4_7523,125000.0,0.01,1.0,1.0,3.0,NaN,NaN,47.17,1.0,55.0,3,26742.857140,2018-12-26 10:47:18,0,2018 Chevrolet Bolt EV,0.0
27017,PHASE_4_7524,75000.0,1.09,1.0,1.0,3.0,NaN,NaN,5.69,2.0,25.0,3,1476.923077,2018-12-26 12:23:26,0,2017 Fiat 500e,0.0
27018,PHASE_4_7526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,2018-12-26 12:23:26,-1,N/A,0.0
27019,PHASE_4_7527,NaN,2.97,1.0,1.0,2.0,NaN,NaN,25.94,4.0,25.0,1,NaN,2018-12-26 12:23:26,0,2017 Ford Fusion Energi Plug-in Hybrid,0.0
27020,PHASE_4_7528,NaN,2.63,1.0,1.0,3.0,NaN,NaN,30.04,2.0,55.0,3,17868.000000,2018-12-26 13:52:40,0,2017 Tesla Model 3 Long Range,0.0

In [89]:
### basic statistics on dataset
### 1) What is the average income?
avg_inc = cf['Household Income'].dropna().mean()
print(f'The average annual income of an electric car owner is {avg_inc:.3f}$')

### 2) Percentage Male vs Female 
perc_male = 100*cf.gender[cf.gender != -1].mean()
print(f'{perc_male:.2f}\% of electric car owners are men.')

### 3) Age
avg_age = cf['Age'].dropna().mean()
print(f'The average electric car owner is {avg_age:.2f} years old.')

The average annual income of an electric car owner is 191924.075$
26.36\% of electric car owners are men.
The average electric car owner is 50.04 years old.

In [88]:
cf.gender.value_counts()

 0    15881
 1     5686
-1     5454
Name: gender, dtype: int64